html, body {
font-family: "Andika New Basic", cursive;
color: #f5f5f5;
overflow: hidden;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
user-select: none;
background-color: #0c1445;
}

canvas {
transition: background 2s;
width: 100vw;
height: 100vh;
cursor: pointer;
}

.title {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -30%);
font-size: 3em;
padding: 0;
margin: 0;
}

.show {
display: block;
text-align: center;
padding: 10px;
position: absolute;
top: 50%;  /* ตั้งให้อยู่กลางแนวตั้ง */
left: 50%;  /* ตั้งให้อยู่กลางแนวนอน */
transform: translate(-50%, -50%);  /* ทำให้ตำแหน่งกลางจริง */
z-index: 10;  /* เพิ่ม z-index ให้ข้อความอยู่บน `canvas` */
}

#canvas {
z-index: -1;  /* ตั้งค่า `canvas` ให้อยู่เบื้องหลังข้อความ */
}
  